
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/media-queries";
@import "../utilities/extends";


.main-index {
    background-color: #000000;
    margin: 0 auto;
    .banner-container {
        position: relative;
        height: 45vh;
        overflow: hidden;
        box-shadow: 0 0 0.4rem #000000;
        .banner-img {
            width: 100%;
            height: 45vh;
            background-color: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }
        .text-overlay {
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: 50%;
            left: 25%;
            color: white;
            font-weight: 600;
            .quienes {
                @extend .quienes;
                display: inline-block;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                background: rgba(130, 205, 234, 0.9);
                color: $white-color;
                text-align: center;
                font-weight: bold;
                text-shadow: 0 0 0.10rem black;
                box-shadow: 0 0 0.20rem #000000;
            }
        }
    }
    .search-form {
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1rem auto;
        width: 100%;
        box-shadow: 0 0 0.2rem #000000;
        .search-input {
            width: 100%;
            padding: 1rem;
            border: 1px solid #cccccc;
            border-radius: 5px;
            outline: none;
            font-size: 1rem;
        }
        .search-button {
            padding: 0.5rem;
            background-color: #b2ebf2;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }
        .search-button:hover {
            background-color: #49c2e0;
        }
    }
    .servicios {
        color: white;
        border-radius: $border-radius;
        h2 {
            color: white;
            font-size: 2rem;
            padding: 0.5rem 1rem;
        }
        p {
            padding: 1rem;
            font-family: 'Poppins', sans-serif;
            font-size: $font-size;
            line-height: 2;
            text-align: justify;
            color: white;
        }
    }
    
    .container1{
        height: 40vh;
        display: flex;
        padding-bottom: 1rem;
        .card1 {
            flex: 1;
            position: relative;
            overflow: hidden;
            display: block;
            text-decoration: none;
            margin: 0;
            height: 100%;
            transition: transform 2s ease-in-out;
            &.card-left {
                @extend .card1;
                transition: transform 1s ease; 
                &:hover {
                    transform: scale(1.1);
                    z-index: 1; 
                }
                clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
                transform: translateX(100%);
            }
            &.card-right {
                @extend .card1;
                transition: transform 1s ease; 
                &:hover {
                    transform: scale(1.1); 
                    z-index: 1; 
                }
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
                transform: translateX(-100%);
            }
            &.animate {
                transform: translateX(0);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .text-bubble1 {
                @extend .text-overlay;
                top: 20%;
                font-size: 2rem;
            }
            .text-bubble2 {
                @extend .text-overlay;
                top: 80%;
                font-size: 2rem;
            }
        }
    }
    .videos-container {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 1.5rem;
        border-radius: 5px;
        .video-item {
            @include flex(row, center, center);
            flex-direction: column;
            align-items: center;
            margin: 0 0.5rem;
            transition: transform 0.5s ease; // Añade una transición suave
            &:hover {
                transform: scale(1.1); // Agranda el video al pasar el cursor
                z-index: 1; // Asegura que el video agrandado esté por encima de los demás
            }
            video {
                max-width: 100%;
                border-radius: 5px;
                border: none;
            }
    
            .label {
                font-size: $font-size;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
                color: white;
                font-weight: bold;
            }
        }
    }
    .imagen-container3 {
        width: 100%;
        overflow: hidden;
        padding-top: 2rem;
        padding-bottom: 1rem;
        .imagen3 {
            width: 100%; 
            height: auto; 
            display: block; 
            object-fit: cover; 
        }
    }
}