
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/media-queries";
@import "../utilities/extends";

@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/media-queries";
@import "../utilities/extends";


.main-index {
    background-color: $background-color;
    margin: 0 auto;
    // banner
    .banner-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .banner-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0; 
        }
        .text-overlay1 {
            background-color: rgba(0, 0, 0, 0.8); 
            padding: 10px;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            position: absolute;
            color: white;
            font-weight: 650;
            z-index: 1; 
            h2 {
                margin-top: 0.3rem;
                padding-top: 1rem;
                border-top: 1px solid #ccc;
            }
            .quienes {
                display: inline-block;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                background: rgba(130, 205, 234, 0.9);
                color: white;
                text-align: center;
                font-weight: bold;
                text-shadow: 0 0 0.20rem black;
                box-shadow: 0 0 0.20rem #000000;
                transition: transform 0.5s ease;
                &:hover {
                    transform: scale(1.05);
                    z-index: 2; 
                }
            }
        }
    }
    @keyframes zoomInDesktop {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }
    @keyframes zoomInMobile {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.05);
        }
    }
    // boton de busqueda
    .search-form {
        display: flex;
        align-items: center;
        justify-content: right;
        border-radius: 0 8px 8px 0;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1rem auto;
        width: 70%;
        .search-input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 8px 0 0 8px;
            border: 1px solid #cccccc;
            outline: none;
            font-size: 1.5rem;
            box-shadow: $box-shadow;
        }
        .search-button {
            padding: 0.5rem;
            background-color: #b2ebf2;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
            font-size: 1.5rem;
            box-shadow: $box-shadow;
            transition: background-color 0.3s ease;
        }
        .search-button:hover {
            background-color: #49c2e0;
        }
    }
    // textos
    .servicios {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #ccc;
        color: white;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
        h2 {
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background: rgba(130, 205, 234, 0.9);
            color: $white-color;
            text-align: center;
            font-weight: bold;
            text-shadow: 0 0 0.20rem black;
            box-shadow: 0 0 0.20rem #000000;
        }
        p {
            padding: 1rem;
            font-family: 'Poppins', sans-serif;
            font-size: 1.6rem;
            line-height: 2;
            text-align: justify;
            color: white;
        }
    }
    // cards animadas
    .container1{
        height: 30vh;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        padding-bottom: 1rem;
        .card1 {
            flex: 1;
            width: 100%;
            position: relative;
            overflow: hidden;
            display: block;
            text-decoration: none;
            margin: 0;
            height: 100%;
            transition: transform 2s ease-in-out;
            &.card-left {
                @extend .card1;
                transition: transform 1s ease; 
                &:hover {
                    transform: scale(1.07);
                    z-index: 1; 
                }
                clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
                transform: translateX(100%);
            }
            &.card-right {
                @extend .card1;
                transition: transform 1s ease; 
                &:hover {
                    transform: scale(1.07); 
                    z-index: 1; 
                }
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
                transform: translateX(-100%);
            }
            &.animate {
                transform: translateX(0);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .text-bubble1 {
                @extend .text-overlay;
                top: 20%;
                font-size: 2rem;
            }
            .text-bubble2 {
                @extend .text-overlay;
                top: 80%;
                font-size: 2rem;
            }
        }
    }
    // videos
    .videos-container {
        @include flex(row, center, center);
        background-color: #000000;
        justify-content: center;
        border-radius: 5px;
        padding-left: 1rem;
        .video-item {
            @include flex(row, center, center);
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            transition: transform 0.8s ease; 
            &:hover {
                transform: scale(1.05); 
                z-index: 1; 
            }
            video {
                max-width: 100%;
                border-radius: 5px;
                border: none;
            }
            .label {
                font-size: 1rem;
                text-align: center;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
                color: white;
                font-weight: bold;
            }
        }
    }
}