
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/media-queries";

body {
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
}

// estilo
.main-nosotros {
  width: 80%;
  padding-top: 2rem;
  .burbuja-parrafo {
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(0, 0, 0, 0.80); 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin-bottom: 20px;
    h1, h2 {
      color: white;
    }
    .content {
      @include flex(row, center, center);
      align-items: center;
      justify-content: space-between;
      .parrafo {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #ccc;
        text-align: justify;
        flex: 1;
        line-height: 2;
        color: #ffffff;
        font-size: 1.5rem;
        margin-right: 20px;  
      }
      .imagen-trapezoidal {
        width: 100%;
        height: 100%;
      }
    }
  }
  // burbujas de texto
  .container3 {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 2rem;
    .bubble {
      background-color: rgba(0, 0, 0, 0.80); 
      border-radius: 10px;
      box-shadow: 0 2px 4px rgb(0, 0, 0);
      flex: 1 1 calc(50% - 20px);
      padding: 20px;
      p {
        color: #ffffff; 
        line-height: 1.5;
        font-size: 1.3rem;
        text-align: justify;
      }
    }
  }
  // carrucel nosotros
  .carrucel-nosotros {
    box-shadow: 0 4px 4px rgb(0, 0, 0);
    background-color: white;
    .carousel {
      .carousel-item {
        position: relative;
        img {              max-height: 650px;
          object-fit: cover;
          animation-duration: 10s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-name: zoomInDesktop;
          z-index: 0;
        }
        .carousel-caption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      } 
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        filter: invert(1);
      }
    }
    @keyframes zoomInDesktop {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
    @keyframes zoomInMobile {
      0% {
        transform: scale(1);
      }
      100% {
      transform: scale(1.05);
      }
    }
  }
}
