// Variables

@import "../utilities/variables";
@import "../utilities/mixins";



.main-index {
    margin: 0 auto;
    .banner-container {
        position: relative;
        height: 55vh;
        overflow: hidden;
        box-shadow: 0 0 0.rem #000000;
        .banner-img {
            width: 100%;
            height: 55vh;
            background-color: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }
        .quienes {
            @extend .text-overlay;
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background: rgba(130, 205, 234, 0.9);
            color: $white-color;
            text-align: center;
            font-weight: bold;
            text-shadow: 0 0 0.10rem black;
            box-shadow: 0 0 0.20rem #000000;
        }
        .text-overlay {
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: 15%;
            left: 5%;
            color: white;
            font-weight: 500;
            z-index: 1;
        }
    }
    .search-form {
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1rem auto;
        width: 100%;
        .search-input {
            padding: 1rem;
            border: 1px solid #cccccc;
            border-radius: 5px;
            outline: none;
            font-size: 1rem;
        }
        .search-button {
            padding: 0.5rem;
            background-color: #b2ebf2;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }
        .search-button:hover {
            background-color: #49c2e0;
        }
        .servicios {
            padding: $padding;
            border-radius: $border-radius;
            h2 {
                @extend .quienes;
                padding: 0.5rem 1rem;
                font-size: $font-size;
            }
        }
        p {
            padding: $padding;
            font-family: 'Poppins', sans-serif;
            font-size: $font-size;
            line-height: 1.6;
            text-align: justify;
            color: #333;
            }
    }
    .container1{
        height: 40vh;
        .card1 {
            flex: 1;
            position: relative;
            overflow: hidden;
            display: block;
            text-decoration: none;
            margin: 0;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.card-left {
                @extend .card1;
                clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            }
            &.card-right {
                @extend .card1;
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
            }
            .text-bubble1 {
                @extend .text-overlay;
                top: 20%;
                font-size: $font-size;
            }
            .text-bubble2 {
                @extend .text-overlay;
                top: 80%;
                font-size: $font-size;
            }
        }
    }
    .videos-container {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 1rem;
        border-radius: 5px;
        .video-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0.5rem;
            video {
                max-width: 100%;
                border-radius: 5px;
                border: none;
            }
            .label {
                margin-top: 0.5rem;
                color: white;
                font-weight: bold;
            }
        }
    }
    .image-container3 {
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: white;
        height: 30vh;
        .imagen3 {
            max-width: 100%; 
            height: auto; 
        }
    }
    .whatsapp-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #25d366; // Color oficial de WhatsApp
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include box-shadow($box-shadow);
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    .popup {
        display: none;
        position: fixed;
        bottom: 90px;
        right: 20px;
        background-color: $background-color;
        @include box-shadow($box-shadow);
        @include border-radius($border-radius);
        width: 300px;
        max-width: 90%;
        z-index: 1000;
        &.show {
            display: block;
        }
        .popup-content {
            padding: 20px;
            text-align: center;
            .whatsapp-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $primary-color;
                .whatsapp-logo {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
                span {
                    @include font-setup(16px, bold);
                }
            }
        }
    }
}