// Variables
@import "../utilities/variables";
@import "../utilities/mixins";

// Extendables
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

  // Styles
.main-nosotros {
    padding: 2rem;
    .burbuja-parrafo {
        background-color: $primary-color;
        color: rgb(0, 0, 0);
        padding: 1rem;
        @include border-radius($border-radius);
        margin-bottom: 1rem;
        h1, h2 {
            margin-bottom: 0.5rem;
        }
        .parrafo {
            @include font-setup(16px, 400);
        }
    }
    .container3 {
        margin-top: 2rem;
        @include flex(row, center, center);

        gap: 1rem;
        .bubble {
            background-color: $primary-color;
            color: white;
            padding: 1rem;
            @include border-radius($border-radius);
            max-width: 300px;
            flex: 1;
            @include box-shadow($box-shadow);
            p {
                margin: 0;
                @include font-setup(14px);
            }
        }
    }
    // Carousel
    .carrucel-nosotros {
        margin-top: 2rem;
        #miCarrusel {
            .carousel-inner {
                .carousel-item {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .carousel-control-prev, .carousel-control-next {
                span {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

// Media Queries
@include respond-to('desktop') {
    .main-nosotros {
        padding: 1rem;
        .burbuja-parrafo {
            padding: 0.5rem;
        }
        .container3 {
            gap: 0.5rem;
            .bubble {
                padding: 0.5rem;
            }
        }
    }
}

