/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10; 
    padding: 10; 
    font-family: sans-serif;
    font-size: 1.3rem; 
}

main {

    margin: 0 auto; 

}
