
@media (max-width: 767px) {
    // Index
    .text-overlay {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .quienes {
            width: 50%;
        }
    }
    .carousel {
        .card {
            width: 100%; 
        }
    }
    .container1 {
        flex-direction: column;
        background-color: black;
        .card1 {
            width: 100%;
            height: auto;
            &.card-left, &.card-right {
                transform: translateX(0);
                clip-path: none;
            }
            .text-bubble1, .text-bubble2 {
                justify-content: center;
            }
        }
    }
    
    .videos-container {
        flex-direction: column;
        justify-content: center;
        .video-item {
            width: 100%;
            margin: 0.5rem 0;
            video {
                width: 100%;
            }
        }
    }
    
    .servicios {
        padding: 1rem;
        h2 {
            font-size: 1.2rem;
            padding: 0.5rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.4;
        }
    }

    .main-hidraulica {
        padding: 0.5rem;
        .navbar {
            .navbar-nav {
                flex-direction: column;
                .nav-item {
                    margin-bottom: 0.5rem;
                }
            }
            .form-control {
                margin-bottom: 0.5rem;
            }
        }
        .grid-container3 {
            grid-template-columns: 1fr;
            justify-content: center;
            color: black;
            .grid-item2 {
                padding: 0.5rem;
            }
            .grid-item3 {
                padding: 0.5rem;
                height: 20vh;
            }
        }
        .container2 {
            margin-top: 0.5rem;        
            .flex-container2 {
                flex-direction: column;
                .paragraph-bubble {
                    padding: 1rem;
                    background-color: black;
                    font-size: 1.1rem;
                    color: white;
                    border-radius: 10px;
                    margin-right: 0.5rem;
                    line-height: 1.2;
                }
            }
        }
    }
    .main-aire-acondicionado {
        padding: 0.5rem;
        .navbar {
            .navbar-nav {
                flex-direction: column;
                .nav-item {
                    margin-bottom: 0.5rem;
                }
            }
            .form-control {
                margin-bottom: 0.5rem;
            }
        }
        .grid-container2 {
            grid-template-columns: 1fr;
            justify-content: center;
            .grid-item, .grid-item2 {
                padding: 0.5rem;
            }
        }
        .container2 {
            .flex-container2 {
                flex-direction: column;
                .paragraph-bubble {
                    margin-bottom: 0.5rem;
                    margin-right: 0;
                    .imagen {
                        max-width: 320px;
                    }
                }
                
            }
        }
        .servicios h2 {
            font-size: 2rem;
        }
        .grid-container1 {
            @include flex(column, center, center);
            .grid-item {
                flex-direction: column;
            }
        }
    }
    // Nosotros
    .main-nosotros {
        .burbuja-parrafo {
            .content {
                @include flex(column, center, center);
                .parrafo {
                    .imagen-trapezoidal {
                        display: none;
                    }
                }
            }
        }
        .container3 {
            flex-direction: column; // Apila los elementos en columna
            align-items: stretch; // Ajusta el ancho de los elementos al contenedor
        }
        .bubble {
            flex: none; // Restaura el tamaño de la flexibilidad para que no se estire
            width: 100%; 
        }
    }
    // Contacto
    .main-contacto{
        .contacto {
            flex-direction: column;
            form {
                padding-right: 0;
                padding-bottom: 1rem;
            }
            .mapa {
                padding-left: 0;
            }
        }
    }
    // Footer
    footer .footer-container {
        flex-direction: column;
        align-items: center;
        .footer-section {
            width: 100%;
            text-align: center;
        }
    }
}