// variables de color
$primary-color: #0d6efd;
$secondary-color: #00000079;
$tertiary-color: #f8f9fa;
$background-color: #1c1c1c;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4);
$border-radius: 10px;
$link-color: #333;
$link-hover-color: #007BFF;
$border-color: #ccc;
$text-color: white;
$white-color: #ffffff;

// variables de fuente
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family: 'Poppins', sans-serif;
$font-size: large;

// variables de tamaños
$banner-height: 55vh;
$breakpoints: (
    'desktop': 1024px,
    'mobile': 480px
);

// variables de animación

$animation-duration: 7s;



