$primary-color: #000000;
$secondary-color: #8b8787de;
$font-family: 'Poppins', sans-serif;

$background-color:#000000;
$banner-height: 55vh;
$breakpoints: (
    'desktop': 1024px,
    'tablet': 767px,
    'mobile': 480px
);
$box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4);
$border-radius: 10px;
