
// estilo
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    transition: transform 0.5s ease; 
    &:hover {
        transform: scale(1.3); 
        z-index: 1; 
    }
}

.whatsapp-btn:hover {
    background-color: #20c057;
}

.popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.popup-content {
    display: flex;
    align-items: center;
}

.whatsapp-link {
    text-decoration: none;
    color: #25D366;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.whatsapp-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}